body{
    display: flex;
    justify-content: center;
}

header{
    width: 1024px;
    background: #6997C7;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 2000;
    opacity: 0.8;
}

.logo{
    float: left;
    padding: 15px 40px;
}

.logo img{
    height: 50px;
}

.navbar{
    float: right;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: none;
}

.nav-item{
    float: right;
    color: white;
    padding: 30px 20px;    
    cursor: pointer;
    text-transform: uppercase;   
}

.light-left-border{
    border-left: 1px #f1f1f1 solid;
}

.dark-left-border{
    border-left: 1px #6997C7 solid;
}

.nav-item.search{
    padding: 27px 20px;
}

.nav-item img{
    width: 25px;
    margin: 0px 10px;
}

.nav-item.selected{
    background: #254064;
}

.nav-item.search.selected .search-tab{
    display: flex;
}

.search-tab{
    position: absolute;
    right: 0px;
    top: 80px;
    background: #254064;
    height: 80px;
    display: none;
    padding: 0px 25px;
    align-items: center;
}

.search-tab input{
    padding: 8px;
    width: 100%;
    color: black;   
    border-radius: 3px;
    border: none;
}

.search-tab img{
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    height: 20px;
    cursor: pointer;
}

.main{
    width: 1024px;
}

.main-header{
    background-image: url('../img/lam1JQA.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.contact-us-btn{
    background: #7CABA9;
    padding: 20px 40px;
    opacity: 0.9;
    border: none;
    box-shadow: 0 2px 7px #888888;
    border-radius: 500px;
    font-weight: bold;
    margin: 10px 0px;
    margin-bottom: 20px;
}

footer{
    height: 2000px;
}