@media screen and (max-width: 1023px){
    header, .tab, footer{
        width: 100%;
    }
}

/* Large Screen */
@media screen and (min-width: 1040px){

}

@media screen and (min-width: 801px) and (max-width: 1040px) {
    .map-tooltip{
        right: 59.5%;
        bottom: 91px;
    }
}

@media screen and (min-width: 801px){

}

/* Tablet */
@media screen and (min-width: 461px) and (max-width: 800px){

}

/* Phone */
@media screen and (max-width: 460px) {

}

/* Mobile M */
@media screen and (min-width: 321px) and (max-width: 376px) {
    
}

/* Mobile S */
@media screen and (max-width: 321px) {
    
}